<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="/public/image/user/<%= user.id %>/0_thumb.jpeg">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= user.first_name %></h4>
    <%= message %>
  </div>
</div>
