    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= bundle.initSession %></h4>
      </div>
      <div id="notice" class="alert panel-header alert-header alert-danger alert-error hidden-element" ></div>        
      <div class="modal-body">
          <a href="/auth/facebook/" class="btn">Facebook</a>
          <a href="/auth/google/" class="btn">Google+</a>
          <hr>

          <form class="form-signin" id="loginForm"  method="POST" action="/login" data-parsley-validate>

            <div class="control-group">
              <input type="text" placeholder="<%= bundle.email %>" name="email" class="form-control" data-parsley-trigger="change" required data-parsley-type="email" <% if( email ) { %>value="<%=email%>" <%}%>>
          </div>

          <div class="control-group">
              <input type="password" placeholder="<%= bundle.password %>" name="password" class="form-control" required data-parsley-min="6">
          </div>

          <input type="checkbox" name="remember_me" value="yes"><%= bundle.rememberMe %><br>
          <a href="/password_modal" data-id-modal="forgotPassword" id="passwordModalLink" class="modalLink"><%= bundle.forgotPassword %></a>
          <button id="loginButton" type="submit" class="btn btn-primary">
              <%= bundle.initSession %>
          </button>          
      </form>

  </div>
  <div class="modal-footer">
      <%= bundle.withoutAccount %> 
      <a href="/register_modal" id="registerLink" data-id-modal="register" class="modalLink" id="registerModalLink"><%= bundle.register %></a>
  </div>
</div>
</div>
