
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= bundle.register %></h4>
        </div>
        <div id="notice" class="alert panel-header alert-header alert-danger alert-error hidden-element" ></div>
        <div class="modal-body">
          <form class="form-signin" id="passwordForm" method="POST" action="/forgot_password">
          
            <%= bundle.recoverPasswordInstruction %>
            <div class="control-group">
              <input type="text" placeholder="<%= bundle.email %>" name="email" class="form-control" data-parsley-trigger="change" required data-parsley-type="email">
            </div>
            <button type="submit" class="btn btn-primary">
              <%= bundle.sendLink %>
            </button>          
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </div>  

        <div class="modal-footer">
        </div>            
    </div>
  </div>
