<style>
  .pac-container {
      z-index: 9999 !important;
  }
</style>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= bundle.register %></h4>
        </div>
        <div id="notice" class="alert panel-header alert-header alert-danger alert-error hidden-element" ></div>        
        <div class="modal-body">
          <a href="/auth/facebook/" class="btn">Facebook</a>
          <a href="/auth/google/" class="btn">Google+</a>
          <hr>
          
          <form action="/user/create" id="registerForm" method="POST" id="sign-up-form" class="form-signin">
      
            <div class="control-group">
              <input type="text" class="form-control" placeholder="<%= bundle.name %>" name="name" required>
            </div>

            <div class="control-group">
              <input type="text" class="form-control" placeholder="<%= bundle.email %>" name="email" data-parsley-trigger="change" required data-parsley-type="email" <% if( email ) { %>value="<%=email%>" <%}%>>
            </div>

            <div class="control-group">
              <input type="password" class="form-control" placeholder="<%= bundle.password %>" name="password" id="password" required data-parsley-min="6">
            </div>

            <div class="control-group">
              <input type="password" class="form-control" placeholder="<%= bundle.passConfirmation %>" name="confirmation" required data-parsley-min="6" data-parsley-equalto="#password">
            </div>

            <div class="control-group">
              <input type="text" id="localizationModalField" class="form-control" name="localization">
            </div>                 

            <input type="hidden" id="localization_city" name="localization_city"/>
            <input type="hidden" id="localization_country" name="localization_country"/>
            <input type="hidden" id="localization_lat" name="localization_lat"/>
            <input type="hidden" id="localization_lon" name="localization_lon"/>                 

            <button type="submit" class="btn btn-primary">
              <%= bundle.register %>
            </button>             
            <input type="hidden" name="_csrf" value="<%= _csrf %>" /> 
          </form>

        </div>
        <div class="modal-footer">
          <%= bundle.alreadyMember %> 
          <a href="/login_modal" id="loginLink" data-id-modal="login" class="modalLinkView" id="loginModalLink"><%= bundle.initSession %></a>

        </div>
      </div>
    </div>
