<!-- ACTIVITY LIST -->
<div class="form-group">
	<label class="col-lg-2 control-label"><%= __('localization') %></label>
	<div class="col-lg-10">
		<ul class="list-group" id="activityList">
		  <a href="#" class="list-group-item active" data-activity-id="1">Trekking</a>
		  <a href="#" class="list-group-item" data-activity-id="2">Cycle</a>
		  <a href="#" class="list-group-item" data-activity-id="3">Surf</a>
		</ul>			
	</div>
</div>	