<!--DATETIME-->
<div class="form-group">
	<label class="col-lg-2 control-label"><%= __('initDateTime') %></label>
	<div class="col-lg-10">
		<div class="input-append date form_datetime">
		    <!--
		    <input type="text" id="dateTime" readonly required <%if(event.date_init){%>value="<%=event.date_init%>"<%}%>>
		    <span class="add-on"><i class="icon-calendar"></i></span>
		    -->
		</div>
		<input type="hidden" id="dateTime" value="" readonly />
	</div>
</div>