    <footer class="footer">
      <div class="pull-right">
        <a href="">Contactenos</a>
        <div>Footer</div>
       <!-- <div>
          <a href="https://twitter.com/sportActivities" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-dnt="true"><%= __('followTo') %> @sportActivities
          </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
        <div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="sportActivities" data-lang="es" data-size="large" data-hashtags="deporteRelacionado"><%= __('tweet') %>
          </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        -->
        <div id="fb-root"></div>
        <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
      </div>
    </footer>