    <div id="header" class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>    
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>        
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navegar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if (typeof(authUser) === 'undefined') { %>
              <li>
                <a href="/register_modal" id="registerLink" class="modalLink" data-id-modal="register" data-toggle="modal" data-target="#registerModal"><%= __('register') %></a>
              </li>
              <li>
                <a href="/login_modal" id="loginLink" class="modalLink" data-id-modal="login" data-toggle="modal" data-target="#loginModal"><%= __('initSession') %></a>
              </li>  
            <% } else { %>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= authUser.first_name %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/show/<%= authUser.id %>"><%= __('editProfile') %></a></li>
                    <li><a href="/logout"><%= __('logout') %></a></li>
                  </ul>
                </li>
              </ul>              
            <% } %>
            <li><a href="/event/new"><%= __('publishEvent') %></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->      
  </div>