<!-- MAP MODAL -->
<div class="modal fade" id="mapModal">
		<div class="modal-dialog">
	    <div class="modal-content">		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3></h3>
			</div>
			<div class="modal-body" style="height:300px; width:100%">
				<div id="mapCanvas"></div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
		</div>