<!-- LOCALIZATION -->
<div class="form-group">
	<label class="col-lg-2 control-label"><%= __('localization') %></label>
	<div class="col-lg-10">
		<input type="text" id="localizationField" class="form-control" value="<%if(event.localization_name){%><%=event.localization_name%><%}%>" required name="localization">
		<button type="button" id="localizationButton" data-map-id="localizationMap" data-input-id="localizationField" class="btn btn-default"><%= __('localize_in_map') %></button>
		<button type="button" id="getLocalizationButton" class="btn btn-default"><%= __('get_location_from_map') %></button>	
	</div>
	<div class="control-group" id="localizationMap"></div>
</div>