<div class="container">
	<span></span>
	<form id="invitationForm" class="form-newevent">

		<% if(event.is_public) { %>
			<h2 class="form-newevent-heading"><%= __('inviteAndShare') %></h2>
		<% } else { %>
			<h2 class="form-newevent-heading"><%= __('inviteFriends') %></h2>
		<% } %>

		<input type="text" id="emailTags" placeholder="<%= __('emails') %>" />

		<input type="button" id="shareButton" class="btn btn-lg btn-primary btn-block" data-status-id=0 value="<%= __('publish') %>"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<input type="hidden" id="id_event" value="<%= event.id %>" />

	</form>
</div>




