<div class='container'>
        <h1><%= __('title') %> </h1>
        <h1><%= event.title %> </h1>               
        <hr>
        <h3><%= __('description') %> </h3>
        <h3><%= event.description %> </h3>
        <h3><%= __('total_participants') %> </h3>
        <h3><%= event.total_participants %> </h3>
        <h3><%= __('localization') %> </h3>
        <h3><%= event.localization_formatted_address %> </h3>
        <h3><%= __('event_type') %> </h3>
        <h3><%= event.event_type %> </h3>
        <h3><%= __('date') %> </h3>
        <h3><%= event.date_init %> </h3>
        <h3><%= __('duration') %> </h3>
        <h3><%= event.duration %> </h3>
        <h3><%= __('equipment') %> </h3>
        <h3><%= event.equipment %> </h3>
        <h3><%= __('transport') %> </h3>
        <h3><%= event.transport %> </h3>
        <h3><%= __('meeting_point') %> </h3>
        <h3><%= event.meeting_point %> </h3>
        <input type="hidden" id="idInvitation" value="<%= invitation_token %>"/>
        <input type="hidden" id="email" value="<%= email %>"/>
        <button type="button" id="acceptInvitation" class="btn btn-medium btn-primary" data-status="1">
                <%= __('acceptInvitation') %>
        </button>        
        <button type="button" id="denyInvitation" class="btn btn-medium btn-primary" data-status="2">
                <%= __('denyInvitation') %>
        </button>        
</div>

<h1>Mostrar invitados<h1>