<!DOCTYPE html>
<html lang=<%=userLang%>>
<head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
      -->
      <title><%- title %></title>

      <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="UTF-8">
<!--
        <meta name="author" content="">
        <meta name="description" content="Do you love football? Would you like to witness one of the best live experiences ever? Join me, a huge Barça fan, in enjoying a match in Camp Nou as if you were one of u">
        <meta name="keywords" content="Football, FC Barcelona, Barcelona">

        <link rel="canonical" href="http://www.trip4real.com/barcelona/food/">
        <link rel="alternate" href="http://www.trip4real.com/barcelona/food/" hreflang="en">
        <link rel="alternate" href="http://es.trip4real.com/barcelona/gastronomia/" hreflang="es">

        
        <meta property="fb:admins" content="1480141705">
        <meta property="og:title" content="trip4real">
        <meta property="og:type" content="article">
        <meta property="og:url" content="http://www.trip4real.com/activity/join-me-to-see-barca-play-in-camp-nou/">
        <meta property="og:image" content="http://trip4real.net/experiencesImages/7219/b4bc5e2e5ef1fe0f8973def68801da9e.jpeg">
        <meta property="og:locale" content="en_US">
        <meta property="og:description" content="Do you love football? Would you like to witness one of the best live experiences ever? Join me, a huge Barça fan, in enjoying a match in Camp Nou as if you were one of u">      

        <div itemscope itemtype="http://schema.org/SportsEvent">
            <meta itemprop="image" content="http://trip4real.net/experiencesinfo/7219/b4bc5e2e5ef1fe0f8973def68801da9e.jpeg" />
            <meta itemprop="name" content="Enjoy a Barça match in Camp Nou with a local supporter" />
            <meta itemprop="description" content="Do you love football? Would you like to witness one of the best live experiences ever? Join me, a huge Barça fan, in enjoying a match in Camp Nou as if you were one of us!

        You'll enjoy an authentic football day as if you were Catalan. We'll meet at the metro station, go to the stadium by motorbike as we like to do in Barcelona, enjoy the match from a great location and have some tapas to end the day and celebrate the victory!" />
            <meta itemprop="url" content="http://www.trip4real.com/activity/join-me-to-see-barca-play-in-camp-nou/" />
            <meta itemprop="duration" content="04:00:00" />
            <meta itemprop="startDate" content="2013-03-25 12:08:28" />
            <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="image" content="http://trip4real.net/profileuserimages/8.jpg" />
                <meta itemprop="name" content="Claudia Valls" />
                <meta itemprop="url" content="http://www.trip4real.com/users/8" />
            </div>
            <div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
                <meta itemprop="addressCountry" content="ES" />
                <meta itemprop="addressLocality" content="Barcelona" />
                <meta itemprop="streetAddress" content="Metro stop Putxet. There are two stops but we'll meet at the one facing the sea on the right." />
            </div>
        </div>
-->
    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap-tagsinput.css">


    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

    <body>
        <%- partial('partials/header.ejs') %>

        <!-- Include the view file for the current controller/route -->
        <%- body %>

        <div class="container">
            <hr>
            <%- partial('partials/footer.ejs') %>
        </div>

        <!-- Always set the _csrf into the layouts to have the value available into the templates loaded asynchronously -->
        <input type="hidden" id="csrf" name="_csrf" value="<%= _csrf %>" />

        <%- partial(baseLayout) %>
        
        <script data-main="/js/app/views/common" src="/js/libs/require/require.js"></script>
        <!--TODO remove script from here-->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>  

        <script>
          // (function(d, s, id) {
          //   var js, fjs = d.getElementsByTagName(s)[0];
          //   if (d.getElementById(id)) return;
          //   js = d.createElement(s); js.id = id;
          //   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=103898696485696";
          //   fjs.parentNode.insertBefore(js, fjs);
          // }(document, 'script', 'facebook-jssdk'));
        </script>    

    </body>
</html>
  