<!DOCTYPE html>
<html>
<head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
      -->
      <title><%- title %></title>

      <!-- Viewport mobile tag for sensible mobile support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->
    <link rel="stylesheet" type="text/css" href="/linker/styles/bootstrap.css">

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>

  <%- partial('partials/header.ejs') %>

  <!-- Include the view file for the current controller/route -->
  <%- body %>

  <div class="container">
    <hr>
    <%- partial('partials/footer.ejs') %>
  </div>

  <div id="modals" class="modals"></div>



    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client 
    <script src="/linker/js/libs/socket.io.js"></script>
    <script src="/linker/js/libs/sails.io.js"></script>
    <script src="/linker/js/app.js"></script> -->
    <script src="/js/libs/jquery/jquery-min.js"></script>    
    <script src="/js/libs/bootstrap/bootstrap.min.js"></script>    
    <!--<script data-main="/js/main.js" src="js/require.js"></script>-->
    <!--<script src="/linker/js/autocompleteInput.js"></script>
     <script src="/linker/js/underscore.js"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=103898696485696";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>    

  </body>
  </html>
  