<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app/api/backboneSync.js"></script>
    <script src="/js/app/global/fileUpload/fileUpload.js"></script>
    <script src="/js/app/global/utils.js"></script>
    <script src="/js/app/models/baseModel.js"></script>
    <script src="/js/app/models/comments/commentModel.js"></script>
    <script src="/js/app/models/eventModel.js"></script>
    <script src="/js/app/models/forgotPasswordModel.js"></script>
    <script src="/js/app/models/invitationModel.js"></script>
    <script src="/js/app/models/loginModel.js"></script>
    <script src="/js/app/models/modalModel.js"></script>
    <script src="/js/app/models/registerModel.js"></script>
    <script src="/js/app/models/sport/sportCollection.js"></script>
    <script src="/js/app/models/sport/sportModel.js"></script>
    <script src="/js/app/views/baseView.js"></script>
    <script src="/js/app/views/common.js"></script>
    <script src="/js/app/views/event/editView.js"></script>
    <script src="/js/app/views/event/invitationView.js"></script>
    <script src="/js/app/views/event/newView.js"></script>
    <script src="/js/app/views/event/showView.js"></script>
    <script src="/js/app/views/home/homeView.js"></script>
    <script src="/js/app/views/invitation/showView.js"></script>
    <script src="/js/app/views/modals/forgotPasswordModalView.js"></script>
    <script src="/js/app/views/modals/loginModalView.js"></script>
    <script src="/js/app/views/modals/modalView.js"></script>
    <script src="/js/app/views/modals/registerModalView.js"></script>
    <script src="/js/app/views/partials/commentView.js"></script>
    <script src="/js/app/views/partials/headerView.js"></script>
    <script src="/js/app/views/user/editView.js"></script>
    <script src="/js/app/views/userSports/editView.js"></script>
    <script src="/js/app/views/widgets/autocomplete.js"></script>
    <script src="/js/app/views/widgets/datePicker.js"></script>
    <script src="/js/app/views/widgets/locationModel.js"></script>
    <script src="/js/app/views/widgets/locationPicker.js"></script>
    <script src="/js/libs/backbone/backbone-min.js"></script>
    <script src="/js/libs/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/libs/bootstrap/bootstrap-tagsinput.min.js"></script>
    <script src="/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/js/libs/bootstrap/locales/bootstrap-datetimepicker.es.js"></script>
    <script src="/js/libs/jquery.form.js"></script>
    <script src="/js/libs/jquery/jquery-min.js"></script>
    <script src="/js/libs/jquery/jquery.fileupload.js"></script>
    <script src="/js/libs/jquery/jquery.form.js"></script>
    <script src="/js/libs/jquery/jquery.ui.widget.js"></script>
    <script src="/js/libs/parsley/parsley-min.js"></script>
    <script src="/js/libs/require/i18n.js"></script>
    <script src="/js/libs/require/require.js"></script>
    <script src="/js/libs/require/text.js"></script>
    <script src="/js/libs/underscore/underscore-min.js"></script>
    <script src="/js/libs/underscore/underscore-tpl.js"></script>
    <script src="/js/nls/baseViewBundle.js"></script>
    <script src="/js/nls/en-US/common.js"></script>
    <script src="/js/nls/headerBundle.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
