<div class="container">
	<form id="editUserForm" action="/user/update/<%= user.id %>" method="POST" enctype="multipart/form-data" class="form-signin">
		<h2> Hey, you're editing a user... </h2>
		<div id="outputImage0">
        	<img id="profileImg" src="<%= user.avatar %>">
        </div>
		<div class="control-group">
			<input value="<%= user.first_name %>" placeholder="<%= __('name') %>" name="name" type="text" class="form-control" required/>
		</div>
		<div class="control-group">
			<input value="<%= user.email %>" name="email" placeholder="<%= __('email') %>" type="text" class="form-control" data-parsley-trigger="change" required data-parsley-type="email"/>
        </div>
        <div>
        <% if (typeof(user) != 'undefined') { %>
			<% if (user.admin) { %>
				<input type="hidden" name="admin" value="unchecked">
				<label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
			<% } else { %>
				<input type="hidden" name="admin" value="unchecked">
				<label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
			<% } %> 
		<% } %> 
		</div>
<!--         <div>
			<input type="file" name="avatar">
		</div> -->


		<div class="control-group">
			<label for="birthdate"><%= __('birthdate') %></label>
			<% if (typeof( user.birthdate ) != "undefined") { %>	
				<input placeholder="<%= __('dateFormat') %>" type="text" name="birthdate" id="birthdate" value="<%= user.birthdate %>" "^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$">
			<% } else {  %>
				<input placeholder="<%= __('dateFormat') %>" type="text" name="birthdate" id="birthdate" data-parsley-pattern="^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$">
			<% } %>			
		</div>


        <div>
			<% if (typeof( user.biography ) != "undefined") { %>	
				<input value="<%= user.biography %>" placeholder="<%= __('bio') %>" name="bio" type="text" class="form-control"/>
			<% } else {  %>
				<input placeholder="<%= __('bio') %>" name="bio" type="text" class="form-control"/>
			<% } %>				
		</div>
        <div>
			<select name="gender">
				<option value="undisclosed")><%= __('undefined') %></option>

				<% if ( user.gender == 'male' ) { %>
					<option value="male" selected><%= __('male') %></option>
					<option value="female"><%= __('female') %></option>
				<% } else if ( user.gender == 'female' ) { %>
					<option value="male"><%= __('male') %></option>
					<option value="female" selected><%= __('female') %></option>
				<% } else { %>
					<option value="male"><%= __('male') %></option>
					<option value="female"><%= __('female') %></option>
				<% } %> 				

			</select>
		</div>
        <div>
			<% if ((typeof( user.city ) != "undefined") && (typeof( user.country ) != "undefined") 
					&& user.city != 'n/a' && user.country != 'n/a') { %>	
				<input id="searchTextField" type="text" size="50" placeholder="<%= __('city') %>" value="<%= user.city %>, <%= user.country %>" onkeydown="if($('.pac-container').is(':visible') && event.keyCode == 13) {event.preventDefault();}"
/>
			<% } else {  %>
				<input id="searchTextField" type="text" size="50" placeholder="<%= __('city') %>" onkeydown="if($('.pac-container').is(':visible') && event.keyCode == 13) {event.preventDefault();}"
/>
			<% } %>	        
			<input type="hidden" name="country" id="country" value="<%= user.country %>"/>
			<input type="hidden" name="city" id="city" value="<%= user.city %>"/>
		</div>
        <div>
			<input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block"/>
		</div>
        
		<input type="hidden" id="csrf" name="_csrf" value="<%= _csrf %>" />
		<input type="hidden" id="id" name="id" value="<%= user.id %>" />
	</form>
	
	<!--<form id="profileImageForm" method="post" action="/profileimage" enctype="multipart/form-data">	
		<input type="file" id="avatar" name="avatar">
		<input type="hidden" name="id" id="profileIdUser" value="<%= user.id %>" />		
		<input type="hidden" name="_csrf" id="profilecsrf" value="<%= _csrf %>" />
	</form>-->
	<div id="imageSelector">
		<!--<input type="file" id="avatar0" class="image" name="avatar"/>-->

		<input id="avatar0" class="image" type="file" name="avatar" data-url="/profileimage/" multiple>

	</div>
	<div id='preview'>
</div>

