<div class="container">
	<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
		<h2 class="form-signin-heading"><%= __('register') %></h2>

		<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error) { %>
			<li><%- JSON.stringify(flash.err[error]) %></li>
		<% }) %>
		</ul>
		<% } %>
		
		<div class="control-group">
			<input type="text" class="form-control" placeholder="<%= __('first_name') %>" name="first_name">
		</div>

		<div class="control-group">
			<input type="text" class="form-control" placeholder="<%= __('email') %>" name="email">
		</div>

		<div class="control-group">
			<input type="password" class="form-control" placeholder="<%= __('password') %>" name="password" id="password">
		</div>

		<div class="control-group">
			<input type="password" class="form-control" placeholder="<%= __('passConfirmation') %>" name="confirmation">
		<br />
		</div>

		<input type="submit" class="btn btn-lg btn-primary btn-block" value="<%= __('register') %>"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
	<div class="control-group">
		<br />
		<%= __('alreadyMember') %> <a href="/login"><%= __('initSession') %></a>
	
	</div>
</div>


