
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2><%= user.first_name %></h2>
                            <p><strong>Email: </strong> <%=user.email%> </p>
                            <p><strong>Birthdate: </strong> <%=user.birthdate%> </p>
                            <p><strong>City: </strong> <%=user.city%> </p>
                            <p><strong>Country: </strong> <%=user.country%> </p>
                            <p><strong>Gender: </strong> <%=user.gender%> </p>
                        </div>       
                        <div class="col-xs-12 col-sm-4 text-center">

                            <% if(user.has_image) {%>
                                    <img src="/public/image/user/<%= user.id %>/0_thumb.jpeg">
                            <% } else { %> 
                                    <img src="/public/image/user/noprofile/noPhoto.png">
                            <% } %>  
                            <ul class="list-inline ratings text-center" title="Ratings">
                              <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                              <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                              <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                              <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                              <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            </ul>
                        </div>
                        <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <h2><strong> Aficiones deportivas </strong></h2>                    
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <span class="label label-info tags">html5</span> 
                            <span class="label label-info tags">css3</span>
                            <span class="label label-info tags">jquery</span>
                            <span class="label label-info tags">bootstrap3</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12">
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Modificar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
