<div id="sportsPanel">
    <div class="container">
        <div class="panel panel-default" id="activityList">
            <div class="panel-heading"><%= __('addPassion') %></div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" id="sportSearch" class="form-control">
                </div>
            </div>
        </div>
    </div> 

    <div class="container">
        <div class="panel panel-default" id="activityList">
            <div class="panel-heading"><%= __('passion') %></div>
            <div class="row">
                <ul id="currentSportList" class="list-group row col-lg-12">
                    <%for(var i = 0; i < sports.length; i++) { %>
                        <li class="list-group-item col-xs-2 <%if(sports[i].userPref){%> list-group-item-success <%}%>" id="<%= sports[i].id %>">
                            <%= sports[i].name %>
                        </li>                            
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

</div>
