<div class="container">
	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%= JSON.stringify(flash.err[error]) %></li>
			<% }) %>
		</ul>
	<% } %>

	<% if(flash && flash.message) { %>
		<ul class="alert alert-success">
			<% Object.keys(flash.message).forEach(function(error) { %>
				<li><%= JSON.stringify(flash.message[error]) %></li>
			<% }) %>
		</ul>
	<% } %>	
	<div class="jumbotron">
		<h1>ActivityOverloard</h1>
		<h2>Tracking app activity better...</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sing up now!</a>
	</div>
	
</div>