<!--DESCRIPTION-->
<div class="form-group">
	<label class="col-lg-2 control-label"><%= __('description') %></label>
	<div class="col-lg-10">
	<input type="text" class="form-control" id="description" name="description" required data-parsley-maxlength="100" value="<%if(event.description){%><%=event.description%><%}%>">			
	</div>
</div>