<!-- PUBLIC/PRIVATE EVENT -->
<div class="form-group">
	<label class="col-lg-2 control-label"><%= __('publicOrPrivate') %></label>
	<div class="col-lg-10">
		<label class="radio-inline">
			<input type="radio" name="publicEvent" id="radio1" value="<%=is_public%>" checked> <%= __('public') %>
		</label>
		<label class="radio-inline">
			<input type="radio" name="publicEvent" id="radio2" value="<%=is_private%>"> <%= __('private') %>
		</label>
	</div>
</div>