<!--TITLE-->
<div class="form-group">
	<label class="col-lg-2 control-label"><%= __('title') %></label>
	<div class="col-lg-10">
	<input type="text" class="form-control" id="title" name="title" required data-parsley-maxlength="100" <%if(event.title){%>value="<%=event.title%>"<%}%>>			
	</div>
</div>