//TODO REFACTOR STYLES in event/baseNewLayout.ejs
<style>
	#mapCanvas{
		height: 300px;
		margin:0;
	}
	#mapCanvas .centerMarker{
		position:absolute;
		/*url of the marker*/
		background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
		/*center the marker*/
		top:50%;left:50%;
		z-index:1;
		/*fix offset when needed*/
		margin-left:-10px;
		margin-top:-34px;
		/*size of the image*/
		height:34px;
		width:20px;
		cursor:
	}
</style>



<input type="hidden" id="currentSection" value="app/views/event/editView"/>

<script>
    var INITIAL_DATA = { 
    	id_event: <%=event.id%>,
		_csrf: "<%= _csrf %>",
		numImages: <%= event.files.length %>,
		imgCol: <%- JSON.stringify(event.files) %>
	}
</script>