<div class="container">
	<form action="/event/create" method="POST" id="editEventForm" class="form-newevent">
		<h2 class="form-newevent-heading"><%= __('new_event') %></h2>

		<h2 class="form-newevent-heading">Falta controlar cuando hay un error con una imagen subida, y lógica al no haber imagen de evento</h2>


		<%- partial('../partials/eventFormComponents/titleInput.ejs') %>
		
		<%- partial('../partials/eventFormComponents/descriptionInput.ejs') %>

		<%- partial('../partials/dateTimeInput.ejs') %>
		
		<%- partial('../partials/locationInput.ejs') %>

		<input type="hidden" id="localization_city" value="<%if(event.localization_city){%><%=event.localization_city%><%}%>"/>
		<input type="hidden" id="localization_country" value="<%if(event.localization_country){%><%=event.localization_country%><%}%>"/>
		<input type="hidden" id="localization_formatted_address" value="<%if(event.localization_formatted_address){%><%=event.localization_formatted_address%><%}%>"/>
		<input type="hidden" id="localization_name" value="<%if(event.localization_name){%><%=event.localization_name%><%}%>"/>
		<input type="hidden" id="localization_lat" value="<%if(event.localization_point.x){%><%=event.localization_point.x%><%}%>"/>
		<input type="hidden" id="localization_lon" value="<%if(event.localization_point.y){%><%=event.localization_point.y%><%}%>"/>

		<%- partial('../partials/activityListSelector.ejs') %>

		<%- partial('../partials/eventFormComponents/publicPrivateRadio.ejs') %>

		<!--NUM PARTICIPANT-->
		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('total_participants') %></label>
			<div class="col-lg-10">
			<input type="number" data-parsley-type="integer" class="form-control" id="numParticipants" name="total_participants" min="0" value="<%if(event.total_participants){%><%=event.total_participants%><%}%>">		
			</div>
		</div>	

		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('difficulty') %></label>
			<div class="col-lg-10">
				<% for( var i = 0; i < 4; i++ ) {%>
					<label class="radio-inline">
						<input type="radio" name="difficulty" id="diff<%=i%>" value="<%=i%>" <%if(i==event.difficulty){%>checked<%}%>> <%= __('difficulty_' + i) %>
					</label>				
				<% } %>
										
			</div>
		</div>		

		<!--DURATION-->
		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('aprox_duration') %></label>
			<div class="col-lg-10">
			<input type="text" class="form-control" id="duration" name="duration" value="<%if(event.duration){%><%=event.duration%><%}%>">
			</div>
		</div>	

		<!--PRICE-->
		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('fee') %></label>
			<div class="col-lg-10">
				<label class="radio-inline">
					<input type="radio" name="price" value="1" <%if(event.free==1){%>checked<%}%>> <%= __('free') %>
				</label>	
				<label class="radio-inline">
					<input type="radio" name="price" value="0" <%if(event.free==0){%>checked<%}%>> <%= __('per_person') %>
				</label>													
			</div>

			<div class="col-lg-10">
				    <div class="input-group">
				      <input type="text" name="priceValue" data-parsley-pattern="^[1-9]\d{0,3}(?:[\.,\,]\d{1,2})?$" id="priceValue" class="form-control" <%if(event.free==0){%>value="<%=event.price%>" data-parsley-required="true"<%}else{%>value="0" disabled<%}%>>		
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="currency">€</span><span class="caret"></span></button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><a href="#">€</a></li>
				          <li><a href="#">$</a></li>
				        </ul>
				      </div>				      		    
				    </div>				
			</div>
		</div>					

		<!--EQUIPMENT-->
		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('equipment') %></label>
			<div class="col-lg-10">
			<textarea class="form-control" form="editEventForm" id="equipment" name="equipment"><%if(event.equipment){%><%=event.equipment%><%}%></textarea>
			</div>
		</div>	

		<!--TRANSPORT-->
		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('transport') %></label>
			<div class="col-lg-10">
			<textarea class="form-control" form="editEventForm" id="transport" name="transport"><%if(event.transport){%><%=event.transport%><%}%></textarea>
			</div>
		</div>			


		<!-- MEETING POINT -->
		<div class="form-group">
			<label class="col-lg-2 control-label"><%= __('meeting_point') %></label>
			<div class="col-lg-10">
			<textarea class="form-control" form="editEventForm" id="meeting_point" name="meeting_point"><%if(event.meeting_point){%><%=event.meeting_point%><%}%></textarea>
			</div>
		</div>

		<%- partial('../partials/locationPickerModal.ejs') %>


		<div class="row">
			<% for( var i = 0; i < 4; i++ ) {%>
				<div id="imageCol<%=i%>" class="col-xs-6 col-md-3">

					<%if( event.files[i] ) {%>
						<div class="thumbnail">
							<img src="<%=event.files[i].url%>" id="outputImage<%=i%>">
							<div class="caption">
								<p>
									<a href="#" class="btn btn-default deleteImage" data-id="<%=event.files[i].id%>" role="button"><%= __('delete') %></a>
								</p>
							</div>
						</div>	

					<%} else {%>
						<input type="file" id="image<%=i%>" class="image" name="eventImage">
					<%}%>

			  	</div>			
			<% } %>
		</div>
	
		<div id="imageSelector">
<!-- 		<% for( var i = 0; i < 4; i++ ) {%>
			<input type="file" id="image<%=i%>" class="image" name="eventImage">
			<%if(event.files[i]){%>
				<img src="<%=event.files[i].url%>" id="outputImage<%=i%>">
				<input type="button" id="publishButton" class="deleteImage" data-id="<%=event.files[i].id%>" value="<%= __('delete') %>"/>

			<%} else {%>
				<div id="outputImage<%=i%>"></div>
			<%}%>
		<% } %>
		</div> -->

		<input type="button" id="publishButton" class="btn btn-lg btn-primary btn-block" data-status-id=0 value="<%= __('publish') %>"/>
		<input type="button" id="saveDraftButton" class="btn btn-lg btn-primary btn-block" data-status-id=1 value="<%= __('saveAsDraft') %>"/>

	</form>
</div>




