<div class="container">
	<h3>Events list</h3>
	<table class='table'>
		<tr>
			<th>Owner</th>
			<th/>
			<th>Title</th>
			<th>Description</th>
			<th>Total Participants</th>
			<th>Localization</th>
			<th>Event Type</th>
			<th>Date init</th>
			<th>Duration</th>
			<th>Equipment</th>
			<th>Transport</th>
			<th>Meeting Point</th>
			<th>Status</th>
		</tr>
		

		<% _.each(events, function(event) { %>
		<tr data-id="<%= event.id %>" data-model="event">
			<td><a href="/user/show/<%= event.id_owner %>" class="btn btn-sm btn-primary"><%= event.first_name %></a></td>
			<td><%= event.app_lang %></td>
			<td><%= event.title %></td>
			<td><%= event.description %></td>
			<td><%= event.total_participants %></td>
			<td><%= event.localization %></td>
			<td><img src="/images/pawn.png"><%= event.event_type %></td>
			<td><%= event.date_init %></td>
			<td><%= event.duration %></td>
			<td><%= event.equipment %></td>
			<td><img src="/images/pawn.png"><%= event.transport %></td>
			<td><%= event.meeting_point %></td>
			<td><%= event.status %></td>
			<td><a href="/event/show/<%= event.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/event/edit/<%= event.id %>" class="btn btn-sm btn-warning">Edit</a></td>

			<td><form action="/event/destroy/<%= event.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				</form>
			</td>
		</tr> 

		<% }) %>
	</table>
</div>