<div class="container">
	<h1 class="form-newevent-heading"><%= __('new_event') %></h1>

	<form method="POST" id="editEventForm" class="form-newevent">



		<%- partial('../partials/eventFormComponents/titleInput.ejs') %>

		<%- partial('../partials/eventFormComponents/descriptionInput.ejs') %>

		<%- partial('../partials/dateTimeInput.ejs') %>

		<%- partial('../partials/locationInput.ejs') %>

		<%- partial('../partials/locationPickerModal.ejs') %>

		<%- partial('../partials/activityListSelector.ejs') %>

		<%- partial('../partials/eventFormComponents/publicPrivateRadio.ejs') %>

		<input type="button" id="saveDraftButton" class="btn btn-lg btn-primary btn-block" data-status-id=1 value="<%= __('saveAsDraft') %>"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />

	</form>
</div>
