<div id="eventView" class='container'>
    <h1><%= __('title') %> </h1>
    <h1><%= event.title %> </h1>               
    <hr>
    <h3><%= __('description') %> </h3>
    <h3><%= event.description %> </h3>
    <h3><%= __('total_participants') %> </h3>
    <h3><%= event.total_participants %> </h3>
    <h3><%= __('localization') %> </h3>
    <h3><%= event.localization %> </h3>
    <h3><%= __('event_type') %> </h3>
    <h3><%= event.event_type %> </h3>
    <h3><%= __('date') %> </h3>
    <h3><%= event.date_init %> </h3>
    <h3><%= __('duration') %> </h3>
    <h3><%= event.duration %> </h3>
    <h3><%= __('equipment') %> </h3>
    <h3><%= event.equipment %> </h3>
    <h3><%= __('transport') %> </h3>
    <h3><%= event.transport %> </h3>
    <h3><%= __('meeting_point') %> </h3>
    <h3><%= event.meeting_point %> </h3>
    <a class="btn btn-medium btn-primary" href="/event/edit/<%= event.id %>">Edit</a> 

    <input type="hidden" id="id_event" value="<%= event.id %>">

    <h1>Guests</h1>
    <ul>
        <% for(var i = 0; i < guests.length; i++) {%>
                <li><%= guests[i].first_name %></li>
        <% } %>     
    </ul>
    <div class="commentsBlock" id="commentsBlock">
        <div id="commentsBlockComments" class="commentsBlock--comments">
        <h2>Comments</h2>
        </div>
        <form method="POST" action="" id="commentEventForm" class="commentsBlock--form">
            <div class="form-group">
                <label class="col-lg-2 control-label"><%= __('comment') %></label>
                <div class="col-lg-10">
                    <textarea id="commentArea" class="form-control" rows="3" placeholder="esconder si usuario no logado"></textarea>
                </div>
            </div>  
            <input type="button" id="commentButton" class="btn btn-lg btn-primary btn-block" value="<%= __('comment') %>"/>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />        
        </form>  
    </div>
</div>