<div class="container">
	<form action="/reset_password" method="POST" id="sign-up-form" class="form-signin">
		<h2 class="form-signin-heading"><%= __('recoverPassword') %></h2>

		<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error) { %>
			<li><%- JSON.stringify(flash.err[error]) %></li>
		<% }) %>
		</ul>
		<% } %>

		<div class="control-group">
			<input type="password" class="form-control" placeholder="<%= __('password') %>" name="password" id="password">
		</div>

		<div class="control-group">
			<input type="password" class="form-control" placeholder="<%= __('passConfirmation') %>" name="confirmation">
		<br />
		</div>

		<input type="submit" class="btn btn-lg btn-primary btn-block" value="<%= __('saveAndContinue') %>"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<input type="hidden" name="id" value="<%= id %>" />
	</form>
</div>


